
 nav{
  display:flex;
 align-items: center;
  justify-content: space-between;
  padding:  30px 450px;
 }

#nav-link{                                                   
  display: flex;
  align-items: center;
  justify-content: center;

}

#nav-link li{
  list-style: none;
  padding: 0 30px;
  position: relative;
  
}

#nav-link li a{
  color:  #668dcc;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
#nav-link li a:hover{
  color: blue;
}
.navbar-container{
   display:flex;
    position: absolute;
    top: 20px;
    left: 0;
    max-width: 250px;
  margin-left:  50px;
}

.logo-text{
  font-weight: 600;
  background:none;
  color:  #668dcc;;
}
.home-page{
  padding-top: 30%;
  margin-left: -300px;
}
button{
  width: 250px;
  height: 60px;
  margin: 40px;
  border-radius: 10px;
background-color:  #668dcc;
  border: none;
}
butoon:hover{
 
}

.btn{
 font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.react-counter{
  font-size: 40px;
  color:  #668dcc;
}

.custom-hook,
.usereducer-hook{
   padding-top: 5%;
  margin-left: -400px;
  font-size: 20px;
}
.custom-hook-head{
/*  margin: 0 auto; */
  padding-bottom: 10px;
  margin-right:30px;
  font-size: 30px;
  padding-top: 20px;
}
.custom-hook p,  h4{
  padding-top: 10px;
  padding-bottom:5px;
}
.custom-hook-btn, 
.usereducer-btn,
.error-404-btn{
  width: 500px;
  height: 80px;
  font-size:25px;
  border-radius:15px;
  padding-top: -10px;
}

 button:hover{
   transition: 0.3s ease-in-out;
  background-color:skyblue;
}
.custom-hook-btn a,
.usereducer-btn a{
  text-decoration: none;
  color: #333333;
}


.usereducer-hook h1, h3, p{
  padding-top: 5px;
  padding-bottom: 5px;
}

.usereducer-hook p{
   font-size: 20px;
}
.error-boundary, .error-404{
  text-align: center;
  justify-content: center;
  padding-top: 20%;
  margin-left: -200px;
  font-size: 20px;
}

  .Error-404{
  padding: 50px;
  }
.error-404 h1, p{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
}